.detail {
	background-color: #f4f4f4;
	min-height: 100vh;
	margin: 0;


	.test{
		// background-color: #cea1a1;
		// background-color: #514a4a;
		width: 99%;
		margin: auto;
		border-top-left-radius: 0;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		border-top-right-radius: 5px;


	}
	.detail-content {
		width: 98%;
		margin: auto;
	}

	// .item {
	// 	background-color: #fff;
	// 	padding: 10px;
	// 	margin-bottom: 10px;
	// 	border-radius: 5px;
	// 	display: flex;
	// 	flex-direction: column;
	// 	.margin {
	// 		margin-bottom: 0;
	// 	}

	// 	.title {
	// 		font-size: 25px;
	// 		font-weight: bolder;
	// 	}
	// 	.notes {
	// 		margin-bottom: 2px;
	// 	}
	// }
}
